ssid (wired)
mqttbroker <address or DNS name>
mqttname LPScale
watchdog <0|1>

espnowgroup <ESP-NOW group with 1 manager and n sensors>
espnowpsk <ESP-NOW pre-shared key>
espnowchannel <ESP-NOW channel>
