ssid <SSID>
password <password or None>
channel <Wi-Fi channel to be used by ESP-NOW>
mqttbroker <address or DNS name>
mqttname LPScale

pmk <ESP-NOW PMK password>
sensor <ESP-NOW MAC addr of the remote sensor>
sensor_lmk <ESP-NOW LMK password of the sensor>
watchdog <0|1>
